<!-- コメントの表示 -->
<% post_comments.each do |post_comment| %>
	<div class="comment">
		<div><%= post_comment.comment %></div>
		<span class="is-size-7"><%= link_to post_comment.user.handle_name, user_path(post_comment.user.id) %></span>
		<span class="is-size-7"><%= post_comment.created_at.strftime('%Y/%m/%d') %></span>
		<!-- コメントを投稿したユーザーのみ削除ボタンが表示される -->
		<% if post_comment.user == current_user %>
		<%= link_to "", post_post_comments_path(post_comment), class: "delete is-small", method: :delete, remote: true, data:{confirm: "コメントを削除しますか？"} %>
		<% end %>
	</div>
<% end %>